<a href="https://colab.research.google.com/github/cavornu/Predictive-Maintenance-Data/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Science Tools and Ecosystem**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

1.   List popular languages for Data Science
2.   Commonly used Libraries
3.   Data Science Tools

Some of the popular languages that Data Scientists use are:

1.   Pythen
2.   Java
3.   C++
4.   SQL

Some of the commonly used libraries used by Data Scientists include:

1.   TensorFlow
2.   SciPy
3.   Pandas
4.   Numpy

| Data Science Tools    
|----------            |
| Jupyter Notebook     |
| RStudio              |
| Visual Studio Code   |

###Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

##Author
Name: Christian Avornu